<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome, <%= Username %>!</h1>
    <div>
      <h2>Profile Information</h2>
      <p>Name: <%= profile.Username %></p>
      <p>Email: <%= profile.email %></p>
      <!-- Add more profile details as needed -->
    </div>
  </body>
</html>
