<!DOCTYPE html>
<html>
  <head>
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>Contact Us</h1>
      <img src="company-logo.png" alt="Company Logo" />
    </header>

    <section id="contact-info">
      <h2>Contact Information</h2>
      <p>
        Feel free to reach out to us with any inquiries, feedback, or
        collaboration opportunities.
      </p>
      <ul>
        <li><strong>Address:</strong> Rupandehi, Lumbini Provience , Nepal</li>
        <li><strong>Phone:</strong> 9847116514</li>
        <li><strong>Email:</strong> changeivy@gmail.com</li>
      </ul>
    </section>

    <section id="contact-form">
      <h2>Contact Form</h2>
      <form action="submit_form.php" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea>

        <input type="submit" value="Send Message" />
      </form>
    </section>

    <footer>
      <p>&copy; All rights reserved.</p>
    </footer>
  </body>
</html>
