
   
     <!DOCTYPE html>
     <html>
     <head>
       <title>Sign Up Form</title>
       <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    
    <form action="#" method="post"> 
        <label for="first_name">First Name:</label>
         <input type="text" id="first_name" name="first_name" required><br><br>
         <label for="last_name">Last Name:</label>
         <input type="text" id="last_name" name="last_name" required><br><br>
        
         <label for="email">Email:</label>
         <input type="email" id="email" name="email" required><br>
          We'll never share your email with anyone else.</form><br>
        
        <label for="phone">Phone:</label>
         <input type="tel" id="phone" name="phone" required><br><br>
         <input type="submit" value="Sign Up">


       
         <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    
         
         
         
         
         
         
         
         
        
       </form>
     </body>
     </html>
     