
     <!DOCTYPE html>
     <html>
     <head>
       <title>Sign Up Form</title>
       <link html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    
    <form action="#" method="post"> 
        <label for="first_name">First Name:</label>
         <input type="text" id="first_name" name="first_name" required><br><br>
         <label for="last_name">Last Name:</label>
         <input type="text" id="last_name" name="last_name" required><br><br>
        
         <label for="email">Email:</label>
         <input type="email" id="email" name="email" required><br>
          We'll never share your email with anyone else.</form><br>
        
        <label for="phone">Phone:</label>
         <input type="tel" id="phone" name="phone" required><br><br>
         <input type="submit" value="Sign Up">


       
         <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    
         
         
         
         
         
         
         
         
        
       </form>
     </body>
     </html>
     
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1"
          >I'm not a robot</label
        >
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </body>
</html>
